/* Reset some basic styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    background-color: #f0f4f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h1 {
    text-align: center;
        font-size: 1.7em;
        color: #333;
        border: 1px solid #000;       
        padding: 15px;
        display: inline-block;
        border-radius: 10px;
        margin-top: 20px;
}

/* Styling the table */
table {
    width: 100%;
    max-width: 600px;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
}

td {
    padding: 15px;
    border-bottom: 1px solid #000;
    color: #555;
    text-align: center;
    font-weight: bold;
}

td:first-child {
    font-weight: normal;
    background-color: #f9fafb;
    color: #555;
}

tr:last-child td {
    border-bottom: none;
}

/* Styling the form */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
}

.input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #d0d7de;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #0073e6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #005bb5;
}

/* Footer styling */
.footer {
    margin-top: 20px;
    text-align: center;
    color: #777;
}

.footer p {
    font-size: 14px;
}

/* Responsive styling */
@media (max-width: 600px) {
    table, .input, .btn {
        width: 100%;
    }
}
